<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dsxweb.minhassenhas">

    <application
        android:name=".application.SenhasApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MinhasSenhas">
        <activity android:name=".feature.listadesenhas.UserActivity" />
        <activity android:name=".feature.listadesenhas.SenhasActivity" />
        <activity android:name=".feature.senha.SenhaActivity" />
        <activity android:name=".feature.listadesenhas.SenhasDetail" />
        <activity android:name=".feature.listadesenhas.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>